@charset "utf-8";
/* CSS Document */

.controlContainer { display:block; width:100%; }
.sliderContainer {
	display:block; max-width:900px; width:100%; margin:0px auto;
}
/*
.noUiSlider {
  width: 90%;
  padding:0;
}*/

.sliderLabel {
	padding:10px;
}

.caption { display:block; width:100%; padding:10px 0; clear:both; }

.freezeLabel {
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
